
@{
    ViewBag.Title = "_LayoutPage";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="container w-75" style="border: 1px solid">
        <header>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Image/icon.jpg" style="width:120px" />
                </div>
                <div class="col-7 text-center">
                    <h3 style="color: red">NHÀ PHÂN PHỐI VẬT TƯ NGÀNH LẠNH GIÁ SỈ</h3>
                    <p style="color:blue">
                        CÔNG TY TNHH BLUE SEA|<span style="color:red">MST:</span>0312980770 <br />
                        <span style="color:red">CỬA HÀNG: </span>31 VÕ TRƯỜNG TOẢN, P.2, Q.BÌNH THẠNH, TP.HCM<br />
                        VẬTTƯNGÀNHLẠNH.<span style="color: red">VN</span> | <span style="text-decoration: underline; color: aquamarine">0901 80 5000</span> | <span style="text-decoration: underline; color: aquamarine">08 62 58 10 20</span>
                    </p> 
                    
                    <p style="color:blue"></p>


                </div>
                <div class="col-3">
                    <h3 style="color: rgb(0, 138, 190); text-decoration: underline" align="right">0901 80 5000 <br />
                        08 6258 1020
                    </h3>
                    
                </div>
            </div>
        </header>
        

        <footer>
        </footer>
    </div>

</body>

</html>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

