
@{
    ViewBag.Title = "FromProductModel";
}

<h2>FromProductModel</h2>

<form method="post" action="Add">
    <input type="text" name="Name" placeholder="Tên sản phẩm: "/>
    <input type="number" name="Price" placeholder="Giá"/>
    <button type="submit">Thêm</button>
</form>