
@{
    ViewBag.Title = "Search";
}


<h2>Search</h2>

<form method="post" action="SubmitName">
    <input type="text" name="productName" placeholder="Nhập tên sp"/>
    <button type="submit">Submit</button>

</form>