@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Share/_LayoutPage.cshtml";
}
<div class="container">
    <h3 style="margin-top: 20px">SẢN PHẨM TIÊU BIỂU</h3>

    <!-- Hàng 1-->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12rem; ">
                    <img src="~/Content/Image/cuoi1.jpg" height="200px" class="card-img-top" alt="Hoa cưới 1"/>
                    
                    <div class="card-body">
                        <h5 class="card-title">Hoa cưới 1</h5>
                            <p class="card-text">Giá: <span style="color: red">600,000đ</span></p>
                            <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12rem;">
                    <img src="~/Content/Image/cuoi2.jpg" height="200px" class="card-img-top" alt="Hoa cưới 2" />
                    <div class="card-body">
                        <h5 class="card-title">Hoa cưới 2</h5>
                        <p class="card-text">Giá: <span style="color: red">650,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12em;">
                    <img src="~/Content/Image/cuoi3.jpg"  height="200px" class="card-img-top" alt="Hoa cưới 3" />
                    <div class="card-body">
                        <h5 class="card-title">Hoa cưới 3</h5>
                        <p class="card-text">Giá: <span style="color: red">450,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12rem;">
                    <img src="~/Content/Image/cuoi4.jpg" height="200px" class="card-img-top" alt="Hoa cưới 4" />
                    <div class="card-body">
                        <h5 class="card-title">Hoa cưới 4</h5>
                        <p class="card-text">Giá: <span style="color: red">750,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
        @*</div>*@

        <!--Hàng 2-->
        @*<div class="row" style="margin-top: 25px; margin-bottom: 25px">*@
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2" >
                <div class="card" style="width: 12rem; ">
                    <img src="~/Content/Image/sinhnhat1.jpg" height="200px" class="card-img-top" alt="Hoa Sinh Nhật 1">
                    <div class="card-body">
                        <h5 class="card-title">Hoa Sinh Nhật 1</h5>
                        <p class="card-text">Giá: <span style="color: red">660,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12rem;">
                    <img src="~/Content/Image/sinhnhat2.jpg" height="200px" class="card-img-top" alt="Hoa Sinh Nhật 2">
                    <div class="card-body">
                        <h5 class="card-title">Hoa Sinh Nhật 2</h5>
                        <p class="card-text">Giá: <span style="color: red"> 540,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12em;">
                    <img src="~/Content/Image/sinhnhat3.jpg" height="200px" class="card-img-top" alt="Hoa Sinh Nhật 3">
                    <div class="card-body">
                        <h5 class="card-title">Hoa Sinh Nhật 3</h5>
                        <p class="card-text">Giá: <span style="color: red"> 760,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  col-sm-6 mb-2">
                <div class="card" style="width: 12em;">
                    <img src="~/Content/Image/sinhnhat4.jpg" height="200px" class="card-img-top" alt="Hoa Sinh nNhật 4">
                    <div class="card-body">
                        <h5 class="card-title">Hoa Sinh Nhật 4</h5>
                        <p class="card-text">Giá: <span style="color: red"> 990,000đ</span></p>
                        <a href="#" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

</div>




